* {
    box-sizing: border-box;
}

body {
    background-color: #d7d9ce;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #040404;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

nav ul li a {
    display: block;
    color: #d7d9ce;
    text-decoration: none;
    padding: 1rem 2rem;
}

ul li a:hover {
    background-color: #119da4;
    color: #000;
}

header {
    background-image: url(images/resort-drone.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 4px 4px 6px #13505b;
}

header p {
    text-align: center;
    color: #ffffff;
}