* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    
}

body {
    background-image: url(images/shifaaz-shamoon-okVXy9tG3KY-unsplash.jpg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d9e3e3;
    font-size: 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #002037;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

nav ul li a {
    display: block;
    color: #d7d9ce;
    text-decoration: none;
    padding: 1rem 2rem;
}

ul li a:hover {
    background-color: #a6a6a6;
    color: #000;
}

header {
    background-image: url(images/resort-drone.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 5rem 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 4px 4px 6px #13505b;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #6d6b6b;
    border-radius: 20px;
    box-shadow: 0 6px 20px #0e1517;
    width: 1200%;

}

h2 {
    text-align: center;
    color: #0d3941;
}


#activities-header {
    background-image: url(images/Activities\ header.jpg);
}

blockquote {
    color: #186663;
    background-color: #bab8b8;
    border-radius: 10px;
    border-left: 8px solid #002037;
    padding: 2rem;
    font-size: large;
    margin: 1.5rem 0;
}

footer {
    text-align: center;
    background-color: #13505b;
    color: #a8cbcd;
    padding: 1rem 0;
    width: 100%;
}

button {
    border-radius: 4px;
    color: #13505b;
}
 button:hover {
    background-color: #186663;
    color: #838c8c;
 }

.read-more {
    background-color: #d7d9ce;
    text-decoration: none;
    color: #119da4;
    padding: 0.5rem;
    border-radius: 15px;
}

.read-more:hover {
    background-color: #13505b;
}

img {
    border: 2px solid #838c8c;
    border-radius: 4px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, .5);
    max-width: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, .7);
}

#logo {
    border: none;
    box-shadow: none;
}

#logo:hover {
    transform: none;
}
    
ul, ol {
    list-style-position: inside;
    line-height: 1.5rem;
}

#favicon {
    border: none;
    box-shadow: none;
}

#dining-heading {
    background-image: url(images/pexels-valeriya-31235409.jpg);
}

#rooms-heading {
    background-image: url(images/alice-kang-Bc_uN5PeErA-unsplash.jpg);
}

#spa-heading {
    background-image: url(images/the-anam-X1s5YSBw8lU-unsplash.jpg);
}

#testimonials-heading {
    background-image: url(images/sunset.jpg);
}

.excursion-activity {
    border-top: 2px solid rgb(64, 63, 63);
}

.Booking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #838c8c;
    border-radius: 20px;
    box-shadow: 0 6px 20px #0e1517;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap:0.5rem;
        
    }

    nav ul li a {
        text-align: center;
    }
    
    img{
        max-width: 90%;
    }

    #favicon {
        width: 10%;
    }

    h1 {
       font-size: 2rem;
    }

    body{
        font-size: 18px;
    }

    ul ol {
        line-height: 0.5rem;
    }
}


@media screen and (min-width: 1025px) {
    nav ul {
        flex-direction: row;
        gap: 1rem;
        padding: 0;
        flex-wrap: nowrap;
    }
}